.resume-wrapper {
    background-image: url(../images/joe-woods-4Zaq5xY5M_c-unsplash.jpg);
    padding: 100px;
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}



